{
  order crowdsec first
  order forward_proxy before file_server
  
  servers {
    metrics
  }
  
  crowdsec {
    api_url http://crowdsec:8080
    api_key {env.BOUNCER_KEY}
    ticker_interval 60s
  }
}

:443, {$DOMAIN}:443 {
  tls {$EMAIL}
  
  crowdsec
  
  forward_proxy {
    basic_auth {$NAIVE_USER} {$NAIVE_PASS}
    hide_ip
    hide_via
    probe_resistance
  }
  
  file_server {
    root /var/www/html
  }
}

:80, {$DOMAIN}:80 {
  redir https://{host}{uri} permanent
}
